<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Carrera de LeBron James</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/baloncesto.png" type="image/x-icon">
</head>
<body>
    <!-- HEADER -->
    <header>
        <div>
            <h1>Carrera de LeBron James</h1>
        </div>
     </header>
     
     <!-- BARRA DE NAVEGACION -->
    <nav class="navbar">
        <a href="../index.html">INICIO</a>
        <a href="../views/biografia.html">BIOGRAFIA</a>
        <a href="../views/trayectoriadeportiva.html">TRAYECTORIA DEPORTIVA</a>
        <a href="../views/galardonesylogros.html">GALARDONES Y LOGROS</a>
        <a href="../views/curiosidades.html">CURIOSIDADES</a>
        <a href="contacto.html">CONTACTO</a>
    </nav>
    <form action="">
        <fieldset>
            <legend>Formulario de Contacto</legend>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" placeholder="Nombre" required>
            <label for="Lname">Apellido</label>
            <input type="text" name="Lname" id="Lname" placeholder="Apellido" required>
            <label for="Email">Email</label>
            <input type="email" name="email" id=""email placeholder="ejemplo@ejemplo.com">
            <label for="date">Fecha de Nacimiento</label>
            <input type="date" name="date" id="date">
            <label for="comment">Deja tu comentario</label>
            <textarea name="comment" id="comment"></textarea required>
            <input type="submit" value="submit">
            <input type="reset" value="borrar">
        </fieldset>
    </form>
         <!-- FOOTER -->
         <footer>
            <p>&copy; Fabrizio Vazquez Potrero Digital 2024</p>
      </footer>
</body>
</html>