<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrera de LeBron James</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/baloncesto.png" type="image/x-icon">

</head>
<body>
     <!-- HEADER -->
    <header>
        <div>
            <h1>Carrera de LeBron James</h1>
        </div>
        </header>

     <!-- BARRA DE NAVEGACION -->
     <nav class="navbar">
        <a href="../index.html">INICIO</a>
        <a href="../views/biografia.html">BIOGRAFIA</a>
        <a href="../views/trayectoriadeportiva.html">TRAYECTORIA DEPORTIVA</a>
        <a href="../views/galardonesylogros.html">GALARDONES Y LOGROS</a>
        <a href="../views/curiosidades.html">CURIOSIDADES</a>
        <a href="/public/views/contacto.html">CONTACTO</a>
    </nav>
    <!-- Inicio de las Curiosidades -->
     <main>
        <article>
            <h2>Curiosidades:</h2>
            <h2>La meditacion es parte de su Rutina:</h2>
            <p>Aunque todos sabemos que si algo ha destacado a LeBron desde su llegada a la NBA incluso antes es su capacidad física, el cuatro veces MVP de la temporada regular siempre ha entendido que el aspecto mental es el motor que hace que todo funcione en su vida y sobre la cancha. Así, cada día suele dedicar unos 15 o 20 minutos a meditar; algo que llega a hacer en ocasiones justo antes de algunos partidos.
            
            <h2>Pidio presentarse al Draft con 17 Años:</h2>
            La fama de LeBron llegó mucho antes de dar el salto a la NBA. Con 17 años, cuando aún jugaba con el instituto St. Mary Vincent en Akron, solicitó presentarse al draft. Por supuesto que no pudo hacerlo, ya que las normas indicaban que debía completar la etapa high school antes de poder ser profesional. Por entonces ya era muy conocido, tal y como demuestra el que fuese portada de la revista Slam en el año 2002.

            <h2>Es ambidiestro:</h2>
            Por si le faltaba algo para ser un jugador fantástico, encima LeBron es ambidiestro. Aunque ha desarrollado su carrera lanzando con la mano derecha, no es raro verle escribiendo o realizando cualquier otra tarea con la izquierda. Esto explica que ante el reto de tener que realizar alguna acción sobre la cancha con la zurda no tenga apenas problemas.

            <h2>Es propietario minoritario del Liverpool:</h2>
            Por casualidad, pero así es. Justo en 2011 la empresa Fenway Sports Group, la cual tiene los derechos para explotar su imagen, adquirió parte del Liverpool inglés. Como parte del trato entre la compañía y James, este último se hizo con el 2% de las acciones del equipo. Las adquirió por 6,5 millones de dólares y hoy valen unas cinco veces más. Un negocio redondo.

            <h2>Contrato Vitalicio con Nike:</h2>
            Sin que ninguna de las grandes marcas deportivas escatimasen en esfuerzos para intentar patrocinarlo cuando llegó a la NBA, LeBron James se decantó finalmente por Nike. La empresa estadounidense, con sede en Oregon, le firmó en 2015 un contrato vitalicio el primero de su historia por un valor que superaría los 500 millones de dólares y que según algunas informaciones podría alcanzar hasta los 1.000.

            <h2>El numero "6", es por sus hijos:</h2>
            LeBron lucía en Cleveland el ’23’ hasta que se marchó a Miami Heat y comenzó a vestir con el ‘6’. Esta decisión encuentra su razón de ser en sus hijos, ya que el primero, LeBron James Jr., nació el 6 de octubre de 2004, y el segundo, Bryce Maximus, vino al mundo el 6 de junio de 2007. Ya de vuelta a Ohio, en la temporada 2014-15, recuperó el ’23’.

            <h2>Jugo al futbol americano en el instituto:</h2>
            Con un físico privilegiado para el deporte, James también tuvo tiempo para probarse practicando fútbol americano en el instituto St. Mary Vincent, llegando incluso a entrar en la lista de opciones para algunas universidades como Notre Dame. Siendo aficionado de los Dallas Cowboys, no se le dio nada mal como receptor, ya que hizo hasta 19 touchdowns en 6 partidos. Una lesión en la mano, la cual puso en peligro hasta su carrera deportiva, frenó cualquier opción.

            <h2>MVP, MVP de las Finales y oro olímpico:</h2>
            Fue justo en 2012 cuando LeBron consiguió uno de los grandes hitos de su carrera y del deporte, ya que en un mismo año fue MVP de la temporada regular, MVP de las Finales (las ganó con Miami Heat) y oro olímpico en los juegos que tuvieron lugar en Londres. Es una hazaña que le acerca a su ídolo, Michael Jordan, quien es el otro único jugador que lo ha conseguido, en su caso en 1992.

            <h2>Nunca ha caído en primera ronda de playoffs:</h2>
            Con 13 presencias consecutivas en la postemporada, James no sabe lo que es perder en primera ronda. En las cinco primeras ocasiones, jugando con Cleveland Cavaliers, lo más cerca que estuvo de perder fue al ganar 4-2 a Washington Wizards en 2006 y 2008. A partir de 2011, ya en Miami, solo ha disputado Finales hasta que en 2019 no logró clasificarse para playoffs en su primer curso como miembro de Los Angeles Lakers.

            <h2>Cerrando las redes sociales por un buen libro:</h2>
            Desde hace varias temporadas LeBron suele dejar en silencio todas sus cuentas redes sociales mientras duran los playoffs. A cambio, ocupa sus días leyendo libros. En la primavera de 2018, justo antes de firmar con Los Angeles Lakers, se leyó “The Alchemist”, uno de los favoritos del general manager de los Lakers, Rob Pelinka. Por cierto, a instancias de este, la franquicia tiene una pequeña biblioteca itinerante que está disponible para los jugadores cuando el equipo se encuentra de viaje.

            <h2>La universidad de Ohio State le guardó una camiseta con su nombre:</h2>
            LeBron siempre ha sido muy de casa. La vuelta a Cleveland bien lo demuestra. Y la universidad de Ohio State, asidua al torneo final de la NCAA, le guardó una camiseta con su nombre y una placa en una de sus taquillas en el vestuario. Precisamente durante el training camp, Cleveland Cavaliers visitó la universidad para disputar un partido de pretemporada y se vio la placa en el lugar dedicado a LeBron.
            </p>
        </article>
     </main>
     <!-- FOOTER -->
    <footer>
        <p>&copy; Fabrizio Vazquez Potrero Digital 2024</p>
  </footer>

</body>
</html>