<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrera de LeBron James</title>
    <link rel="icon" href="../img/baloncesto.png" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Estilos -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.css">

</head>
<body>
    <!-- HEADER -->
    <header>
        <div>
            <h1>Carrera de LeBron James</h1>
        </div>
        </header>

     <!-- BARRA DE NAVEGACION -->
     <nav class="navbar">
        <a href="../index.html">INICIO</a>
        <a href="../views/biografia.html">BIOGRAFIA</a>
        <a href="../views/trayectoriadeportiva.html">TRAYECTORIA DEPORTIVA</a>
        <a href="../views/galardonesylogros.html">GALARDONES Y LOGROS</a>
        <a href="../views/curiosidades.html">CURIOSIDADES</a>
        <a href="/public/views/contacto.html">CONTACTO</a>
    </nav>
    <!-- Inicio de la trayectoria deportiva -->
     <div class="Trayectoria deportiva">
            <main>
                <article>
                <h2>Trayectoria Deportiva</h2>
                <h2>Cleveland Cavaliers:</h2>
                <p>Cleveland Cavaliers (2003-2010, 2014-2018): LeBron fue seleccionado como la primera elección en el draft de 2003 por los Cavaliers, y rápidamente demostró su capacidad para cambiar el rumbo de la franquicia. Ganó el premio de Novato del Año y llevó a los Cavs a su primera final de la NBA en 2007. Aunque no ganóon, esta actuación consolidó a LeBron como uno de los mejores jugadores de la liga. Luego de un período en Miami, regresó a Cleveland en 2014. En 2016, alcanzó uno de sus logros más memorables: llevó a los Cavaliers a su primer campeonato, remontando una desventaja de 3-1 en las finales contra los Golden State Warriors, siendo este uno de los hitos más importantes en la historia de la NBA.
                
                <h2>Miami Heat:</h2>
                Miami Heat (2010-2014): LeBron compuso con el Miami Heat y se unió a Dwyane Wade y Chris Bosh, formando el famoso "Big Three". Durante esta etapa, el Heat alcanzó las finales de la NBA en cuatro temporadas consecutivas (2011-2014) y ganó dos campeonatos en 2012 y 2013. Esta fue una de las etapas más dominantes de LeBron, tanto por su desarrollo físico y técnico como por su mentalidad ganadora. En 2013, el equipo ganó una de las finales más intensas en la historia, derrotando a los San Antonio Spurs en siete juegos, con LeBron siendo nombrado MVP de las finales en ambas ocasiones.
                
                <h2>Los Angeles Lakers:</h2>
                Los Angeles Lakers (2018-presente): En 2018, LeBron se unió a los Lakers en busca de nuevos retos y para consolidar su legado en una franquicia histórica. Tras una primera temporada difícil por lesiones, lideró al equipo a un campeonato en 2020 en la “burbuja” de Orlando, siendo su cuarto título y el primero para los Lakers en una década. Con este título, LeBron se convirtió en el primer jugador en ganar campeonatos con tres equipos diferentes y reafirmó su estatus como uno de los más grandes de todos los tiempos.

                <h2>Seleccion Nacional</h2>
                <li>Tras finalizar su primera temporada en la NBA, James disputó con su selección los Juegos Olímpicos de Atenas 2004, donde consiguió junto a sus compañeros la medalla de bronce. Era la primera vez que Estados Unidos no conseguía el oro en unos Juegos Olímpicos con un equipo formado por jugadores de la NBA. Limitado a 14,6 minutos por partido por orden del entrenador Larry Brown, James promedió 5,6 puntos y 2,6 rebotes.</li>

                <li>LeBron formó parte del equipo que se llevó la medalla de bronce en el Mundial de Japón 2006 y promedió 13,9 puntos, 4,8 rebotes y 4,1 asistencias por partido.</li>

                <li>En 2007 participó en el Torneo de las Américas de Las Vegas que ganó la selección de baloncesto de Estados Unidos. La estrella de Cleveland promedió 18,1 puntos (con un 76% en tiros de campo y un 62,2% en triples), 3,6 rebotes y 4,7 asistencias. Registró el récord de Allen Iverson de más puntos en el torneo clasificatorio con 31 puntos ante Argentina. Estados Unidos se adjudicó este torneo en la final contra Argentina, con un récord de 10 victorias por ninguna derrota.</li>

                <li>En los Juegos Olímpicos de Pekín 2008 consiguió su primera medalla de oro olímpica, tras vencer a España en la final. Durante las Olimpiadas, LeBron promedió 15,5 puntos (con un 60,2% en tiros), 5,3 rebotes y 3,8 asistencias y 2,4 robos.</li>

                <li>En la siguiente cita olímpica, Londres 2012, el conjunto estadounidendese volvió a coronarse campeón y, de nuevo, el rival a batir en la final fue el combinado español. James promedió 13,2 puntos, 5,6 rebotes y 5,6 asistencias durante los juegos, incluido un triple doble (11p, 14r, 12a) frente a Australia, en cuartos de final.</li>
                
                <li>En los Juegos Olímpicos de París 2024 fue el deportista abanderado de la delegación estadounidense en el desfile inaugural, junto con la tenista Coco Gauff. Entre julio y agosto de 2024 fue parte de la selección absoluta de Estados Unidos, que disputó los Juegos Olímpicos de París, y que ganó el oro, tras vencer la final ante Francia. Al término del torneo fue includido en el mejor quinteto, y nombrado MVP. Además en las semifinales ante Serbia, registró un triple-doble, el cuarto en la historia de las Olimpiadas.</li>
                
                <h2>Legado</h2>
                Con cuatro campeonatos de NBA, múltiples premios MVP y destacadas participaciones en torneos internacionales, LeBron James ha dejado una marca imborrable en el baloncesto. Su capacidad para liderar y adaptar su juego a distintas etapas y equipos lo han convertido en un símbolo de consistencia y éxito en la NBA y en la selección de Estados Unidos.
                </p>
                <div class="card-group">
                    <div class="card">
                      <img src="../img/lebron cleveland 2016.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">LeBron en 2016 haciendo historia</h5>
                        <p class="card-text">LeBron volvió a los Cleveland Cavaliers luego de cuatro años con el Heat con la promesa de ganar un título para la franquicia que lo drafteó. Lo logró en la temporada 2015-16, donde una serie de actuaciones notables ayudaron a que los Cavs remontaran un déficit de 3-1 para ganar su primer título histórico.</p>
                        <p class="card-text"><small class="text-body-secondary"></small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../img/lebron en miami 2013.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">El Tapon 1.0</h5>
                        <p class="card-text">Por su contexto y por ser más reciente, el tapón de LeBron James a Andre Iguodala en las Finales de 2016 es más recordado hoy en día, pero el tapón que LBJ le colocó al brasileño Tiago Splitter en el segundo partido de las Finales de 2013 es mucho más impresionante.

                        Los Spurs habían ganado el primer partido de las Finales en Miami a pesar de un triple-doble de James y los Heat necesitaban como agua en el desierto quedarse con el segundo encuentro. Con una ventaja de 86-67 todo ya parecía bastante decidido en el último cuarto, pero LeBron se encargó de dejar una estampa histórica con un tapón brutal sobre Splitter y sus 2,11 metros cuando el brasileño tuvo el coraje de intentar realizar una volcada en su cara. Otra demostración más de la potencia física de James en su plenitud.</p>
                        <p class="card-text"><small class="text-body-secondary"></small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../img/lebron en los lakers 2023.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">LeBron convirtiendose en el maximo anotador historico de la NBA</h5>
                        <p class="card-text">El tiro de LeBron James con el que acaba convirtiendo la canasta con la que superaba el récord histórico de Kareem Abdul-Jabbar para convertirse en el máximo anotador de siempre en la NBA, ya es historia del deporte. Una imagen para observar con detenimiento y disfrutar, ya que es una de las más importantes del baloncesto y del deporte universal por la dimensión de este hito.</p>
                        <p class="card-text"><small class="text-body-secondary"></small></p>
                      </div>
                    </div>
                  </div>
                </article>
            </main> 
            <div class="container-fluid">
                <article class="Equipos donde jugo"></article>
            </div>   
    
     </div>
     <!-- FOOTER -->
    <footer>
        <p>&copy; Fabrizio Vazquez Potrero Digital 2024</p>
  </footer>

  <!-- Script Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>